* {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 80%;
  margin: auto;
  background-color: rgb(227, 227, 227);
  padding: 2rem 2rem;
  text-align: center;
  font-size: .9rem;
  font-family: 'Montserrat', sans-serif;
  height: fit-content;
}

h1{
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

#wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.alignment {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem;
}

#fonts label{
  width: 46%;
  text-align: left;
}

#fonts {
  width: 30%;
}

input {
  margin: 7px 0;
  line-height: 1.1rem;
  width: 2.5rem;
  display: inline-block;
  box-shadow: none;
  text-align: center;
  outline: none;
  border: none;
}

#hidden-input {
  position: absolute;
  left: -10000000px;
  }

select {
  margin: 7px 0;
  border: none;
  font-size: .7rem;
  height: 1.3rem;
  outline: none;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

label {
  margin: 7px 0;
  display: inline;
  min-width: 40%;
  text-align: left;
}

main {
  width: 80%;
  margin: auto;
  padding: 2rem;
}

table {
  margin: auto;
  table-layout: fixed;
}

td, th {
  padding: 5px;
  overflow: hidden;
  color: rgb(52, 49, 49);
}

.buttons {
  padding: .7rem 1.2rem;
  margin: 1rem 1rem 1rem 0;
  font-size: .8rem;
  border: none;
  color: black;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

.buttons:hover {
  background-color: rgb(238, 236, 236);
}

.buttons:active {
  background-color: rgb(135, 132, 132);
}

@media only screen and (max-width: 1151px){
  header, main {
    width: 100%;
  }

  table {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 920px){
  .alignment {
    width: 50%;
    padding: 0 10%;
  }

  #fonts{
    width: 100%;

  }

  #fonts select {
    width: 7rem;
  }

  #fonts label{
    width: 60%;
  }
} 

@media only screen and (max-width: 850px){
  .alignment {
    width: 100%;
    padding: 0 3rem;
  }

  #fonts {
  flex-direction: row;
  }

  #fonts label {
    width: 60%;
  }

  table {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 610px){

  header {
    font-size: .8rem;
  }
  h1 {
    font-size: 1.8rem;
  }

  .alignment {
    width: 100%;
    padding: 0 3rem;
  }

  .alignment label {
    width: 60%;
  }

  table {
    font-size: 0.6rem;
  }

  main {
    padding: 1rem 1rem;
  }

}


@media only screen and (max-width: 400px){
  
  header {
    font-size: .7rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .alignment {
    padding: 0;
  }
  .alignment label {
    width: 60%;
  }

  #fonts {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 40%;
  }

  #fonts label {
    width: 50%;
  }

  table {
    font-size: 0.5rem;
  }

  main {
    padding: 1rem 0;
  }
}